header {
	display: flex;
	height: 75px;
	background-color: #c00000;
	width: 100%;
	color: #fff;
	font-size: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.container {
	width: 50%;
}

.menuDiv {
	display: flex;
	justify-content: space-evenly;
}

.menuDiv a {
	text-decoration: none;
	color: white;
	font-family: 'Exo 2';
	font-size: 30px;
	border: 1px solid lightgray;
	padding-bottom: 5px;
	transition: 500ms;
}

.menuDiv a:hover {
	border: none;
	font-size: 25px;
}
